<div class="container-competition">
    <!-- Première section : Compétition Streamers & Invités -->
    <div class="section-competition section-streamers">
      <div class="text-content">
        <h2 class="title">
          COMPÉTITION <span class="highlight">STREAMERS & INVITÉS</span>
        </h2>
        <p class="subtitle">19/10/2024 à 20h</p>
        <p><strong>Dès 20h</strong>, les participants auront <strong>une heure complète pour s’entraîner</strong> et se familiariser avec les épreuves. Profitez de cette heure pour maîtriser chaque mode de jeu grâce à une commande spéciale vous permettant de vous téléporter directement vers n'importe quelle épreuve.
        </p><p><strong>À 21H</strong>, tous les joueurs seront téléportés au lobby et <strong>partiront simultanément pour un enchaînement de chaque mode de jeu</strong>, dans un ordre fixe pour tous. Vous aurez <strong>50 minutes maximum</strong> pour compléter votre run.
            </p><p> Votre <strong>classement final sera la somme de vos points acquis suites à vos positions sur trois runs différentes</strong>. Le premier recevra 1 point, les 2ème et 3ème recevront chacun 2 points, les 4ème, 5ème et 6ème recevront chacun 3 points, et ainsi de suite. Par exemple, si vous terminez 11ème, 5ème et 3ème, vous totaliserez 10 points (5 + 3 + 2). L’objectif étant d’acquérir le <strong>moins de points possibles !</strong>
            Après 3 runs, un classement sera établi, et le champion sera couronné. Le grand vainqueur repartira avec un trophée exclusif orné du logo de la compétition ! Êtes-vous prêt à relever le défi et à marquer l’histoire de la Nagacup ?</p>
        <!-- Autres textes -->
      </div>
      <div class="image-content">
        <img src="img/screens/cup1.png" alt="NagaCup Image" />
      </div>
    </div>
  
    <!-- Deuxième section : Compétition Publique -->
    <div class="section-competition section-public">
      <div class="separator"></div>
      <div class="text-content">
        <h2 class="title">COMPÉTITION <span class="highlight">PUBLIQUE</span></h2>
        <h2 class="title2">SERVEUR <span class="highlight">OUVERT À TOUS</span></h2>
        <p class="subtitle">du 28/10/2024 au 01/11/2024</p>
        <p>L’objectif durant cette semaine est <strong>de vous entraîner et d’optimiser</strong> le plus possible chaque mode de jeu pour tenter de vous hisser au plus haut des différents classements.</p>
        <!-- Autres textes -->
        <h2 class="title2">QUALIFICATIONS <span class="highlight">PUBLIQUES</span></h2>
        <p class="subtitle">02/11/2024</p>
        <p>La phase de qualifications fonctionnera <strong>comme les COTD sur Trackmania</strong>, une course complète sera jouée, et un nombre précis de joueurs sera éliminé à la fin de la course. Exemple : Si 200 joueurs, les 20 derniers de la première course sont éliminés. Et ainsi de suite jusqu'à ce qu’il reste <strong>16 joueurs qualifiés en finale</strong> le lendemain.</p>
        <!-- Autres textes -->
        <h2 class="title2">FINALE <span class="highlight">NAGACUP</span></h2>
        <p class="subtitle">03/11/2024</p>
        <p>La finale entre les <strong>16 meilleurs joueurs des qualifications</strong> se déroulera comme cela : <strong>5 courses d’affilés</strong> seront joués et, similaire à l’épreuve streamers, les points seront fait de la même façon. (TOP 1, TOP4, TOP5, TOP2, TOP6 = 18 points)
            Les <strong>3 meilleurs joueurs seront récompensés</strong> d’un <strong>cashprize</strong>. Le voici :</p>
            <p class="cp-first">1ère place : 200 euros</p>
            <p class="cp-second">2ème place : 100 euros</p>
            <p class="cp-third">3ème place : 45 euros</p>
        <!-- Autres textes -->
      </div>
    </div>
  </div>
  