<section class="container mx-auto p-8 text-center">
    <div class="dropdown-container flex items-center">
      <span class="title">CLASSEMENT</span>
    
      <div class="relative">
        <button class="dropdown-button" (click)="toggleDropdown()" [class.active]="isDropdownOpen">
          {{ getDropdownTitleName(selectedMode) }}
          <svg class="icon-arrow" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
            <path fill-rule="evenodd" d="M5.707 8.707a1 1 0 0 1 1.414 0l4.879 4.879 4.879-4.879a1 1 0 1 1 1.414 1.414l-5.5 5.5a1 1 0 0 1-1.414 0l-5.5-5.5a1 1 0 0 1 0-1.414z" clip-rule="evenodd"/>
          </svg>
        </button>
    
        <div class="dropdown-content absolute left-0" [class.show]="isDropdownOpen">
          <a *ngFor="let mode of getAvailableModes()" (click)="selectMode(mode)">{{ formatModeText(mode) }}</a>
        </div>
      </div>
    </div>
  </section>
    
  <section class="container mx-auto">
    <app-leaderboards-global-component *ngIf="this.selectedMode === this.round1 || this.selectedMode === this.round2 || this.selectedMode === this.round3 || this.selectedMode === this.elim" [selectedMode]="selectedMode"></app-leaderboards-global-component>
    <app-leaderboards-total-component *ngIf="this.selectedMode === this.total" [selectedMode]="selectedMode"></app-leaderboards-total-component>
  </section>