<div class="flex flex-col items-center justify-start min-h-screen mt-20">
    <h1 class="text-violet-500 text-2xl md:text-3xl lg:text-4xl font-pixel tracking-widest mb-6 neon-effect-title">
      SELECT A GAME
    </h1>
  
    <div class="bg-gray-perso p-7 pl-16 pr-16 neon-container">
      <div class="group flex flex-col items-center px-6 py-3 mb-3 cursor-pointer w-full" routerLink="/leaderboards/global">
        <div class="flex items-center justify-center space-x-3 w-full">
          <div class="flex items-center space-x-3">
            <img src="img/icons/flag_pixel.svg" alt="Flag Icon" class="h-6 w-6">
            <span class="group-hover:neon-text text-white font-pixel">CLASSEMENT GLOBAL</span>
          </div>
          <img src="img/icons/arrow_pixel.svg" alt="Arrow Icon" class="h-5 w-5 hidden group-hover:neon-image group-hover:block transition-opacity duration-300">
        </div>
        <!-- Line under the text and arrow -->
        <div class="w-0 h-[4px] bg-white mt-1 transition-all duration-500 group-hover:w-full"></div>
      </div>

      <div class="group flex flex-col items-center px-4 py-3 mb-3 cursor-pointer w-full" routerLink="/leaderboards/streamer">
        <div class="flex items-center justify-center space-x-3 w-full">
          <div class="flex items-center space-x-3">
            <img src="img/icons/crown_pixel.svg" alt="Crown Icon" class="h-6 w-6">
            <span class="group-hover:neon-text text-white font-pixel">EVENT STREAMERS & INVITÉS</span>
          </div>
          <img src="img/icons/arrow_pixel.svg" alt="Arrow Icon" class="h-5 w-5 hidden group-hover:neon-image group-hover:block transition-opacity duration-300">
        </div>
        <!-- Line under the text and arrow -->
        <div class="w-0 h-[4px] bg-white mt-1 transition-all duration-500 group-hover:w-full"></div>
      </div>

      <div class="group flex flex-col items-center px-4 py-3 mb-0 cursor-pointer w-full">
        <div class="flex items-center justify-center space-x-3 w-full">
          <div class="flex items-center space-x-3">
            <img src="img/icons/trophy_pixel.svg" alt="Trophy Icon" class="h-6 w-6 opacity-30">
            <span class="group-hover:neon-text opacity-30 text-white font-pixel">FINALE PUBLIQUE</span>
          </div>
          <img src="img/icons/arrow_pixel.svg" alt="Arrow Icon" class="h-5 w-5 hidden transition-opacity duration-300">
        </div>
        <!-- Line under the text and arrow -->
        <div class="w-0 h-[4px] bg-white mt-1 transition-all duration-500"></div>
      </div>

    </div>
  </div>
  
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

    .group-hover\:neon-text {
      text-shadow: 0px 0px 25px rgba(255, 255, 255, 0.8);
      transition: text-shadow 0.3s ease-in-out;
    }

    /* Neon effect for hovered images */
    /* .group-hover\:neon-image {
      filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.8)) 
              drop-shadow(0 0 20px rgba(255, 255, 255, 0.5)) 
              drop-shadow(0 0 30px rgba(255, 255, 255, 0.4));
      transition: filter 0.3s ease-in-out;
    } */

    .bg-gray-perso {
        background-color: #353535;
    }
  
    .font-pixel {
      font-family: 'Press Start 2P', cursive;
      /* text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 0px 25px rgba(255, 255, 255, 0.60); */
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  
    .neon-effect-title {
      text-shadow:
        0 0 3px #52168E,
        0 0 6px #52168E,
        0 0 12px #FFFFFF;
    }
  
    .neon-container {
      box-shadow:
        0 0 3px #52168E,
        0 0 6px #52168E,
        0 0 12px #52168E;
      border-radius: 10px;
    }
  
    svg {
      position: absolute;
      right: 15px;
    }
  </style>
  