
<footer class="bg-[#313131] pt-2">
    <div class="w-full flex justify-center pb-2">
      <div class="flex space-x-6">
        <!-- Discord Icon -->
        <a href="https://discord.gg/euecweumdw" target="_blank" class="hover:text-white">
          <div class="bg-[#222222] hover:bg-black p-3 rounded-full h-12 w-12 flex items-center justify-center">
            <img src="img/icons/discord.svg" alt="Discord Icon" class="h-10 w-10">
          </div>
        </a>
        <!-- Twitter Icon -->
        <a href="https://x.com/ZakyVreel" target="_blank" class="hover:text-white">
          <div class="bg-[#222222] hover:bg-black p-3 rounded-full h-12 w-12 flex items-center justify-center">
            <img src="img/icons/twitter.svg" alt="Twitter Icon" class="h-3 w-3">
          </div>
        </a>
        <!-- YouTube Icon -->
        <a href="https://www.twitch.tv/nagatow" target="_blank" class="hover:text-white">
          <div class="bg-[#222222] hover:bg-black p-3 rounded-full h-12 w-12 flex items-center justify-center">
            <img src="img/icons/twitch.svg" alt="YouTube Icon" class="h-6 w-6">
          </div>
        </a>
      </div>
    </div>

    <div class=" mx-auto bg-[#222222] pt-2 pb-2 flex justify-center items-center space-x-2">
        <!-- Logo -->
        <img src="img/logo/nagacup_logo.png" alt="NagaCup Logo" class="flex-shrink-1 h-20 w-20">
    
        <!-- Texte principal -->
        <div class="flex flex-col">
          <div class="border-gray-400 cursor-pointer">
            <p class="text-gray-400 opacity-60 text-xs mt-1">© 2024 Nagacup, Tous droits réservés.</p>
            <p class="text-gray-400 opacity-60 text-xs mt-1">Nous ne sommes pas affiliés à Mojang AB.</p>
          </div>
        </div>
      </div>
    
      <!-- Droits réservés -->
      <div class="mt-6 text-center">
      </div>
  </footer>
  