@use 'scss/style';
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


html,
body {
  height: 100%;
}

body {
  margin: 0;
}

@font-face {
  font-family: 'Minecraftia';
  src: url('../public/fonts/Minecraftia-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal; 
}


@font-face {
  font-family: 'VCR';
  src: url('../public/fonts/VCRosdNEUE.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
